@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: var(--color-blue-600);
  --color-primary-content: var(--color-gray-50);
  --color-secondary: var(--color-sky-500);
  --color-base-100: var(--color-gray-50);
  --color-base-200: var(--color-gray-300);
  --color-base-300: var(--color-gray-600);
  --color-info: var(--color-secondary);
  --radius-field: 2px;
  --radius-box: 2px;
  --border: 0;
  --radius-selector: var(--radius-sm);
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;

  --color-primary: var(--color-blue-600);
  --color-primary-content: var(--color-gray-50);
  --color-secondary: var(--color-sky-500);
  --color-base-100: var(--color-gray-900);
  --color-base-200: var(--color-gray-700);
  --color-base-300: var(--color-gray-400);
  --color-info: var(--color-secondary);
  --radius-field: 0;
  --radius-box: 0;
  --border: 0;
  --radius-selector: var(--radius-sm);
}

@theme {
  --font-orbitron: var(--font-family-orbitron), sans-serif;
  --shadow-bloom: 0 0 4px var(--color-secondary);
  --drop-shadow-bloom: 0 0 4px var(--color-secondary);
  --text-shadow-bloom: 0 0 4px var(--tw-text-shadow-color);
  --color-divider: var(--color-gray-200);
  --spacing-navbar: calc(var(--spacing) * 16);
  --spacing-navbar-with-margin: calc(var(--spacing-navbar) + var(--spacing) * 8);
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px var(--color-gray-300);
  }

  .dark {
    --color-divider: var(--color-gray-600);

    .font-outline {
      -webkit-text-stroke: 1px var(--color-gray-700);
    }
  }

  .expressive-code {
    margin-block: 1.25em;
  }
}
